body{
    color: red;
    background-image: url(https://docs.google.com/uc?id=1yhRttBq5tHRIYRPKJBrHbrIl_tTSZUbB);
}

body {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAAN...[IMG_EM_BASE64]...AAABJRU5ErkJggg==');
}

#container {
    background-image: linear-gradient(to bottom, rgba(6,27,51,0.77) 0%, rgba(6,27,51,0.77) 100%), url(https://media.giphy.com/media/7b8jdNUoFBdcoILjjv/source.gif);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-bottom-style: none;
    border-color: #000000;
    border-left-style: none;
    border-radius: 0px;
    border-right-style: none;
    border-top-style: none;
    border-width: 1px;
    height: 100%;
    position: relative;
}