/* Link: https://www.w3schools.com/css/css_website_layout.asp */

/* Create three equal columns that float next to each other */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Definir altura do tamanho da tela  */
/* height: 100vh; */